<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{ furl '/aui/5.6.11/css/aui.css' }}" media="all">
  <link rel="stylesheet" href="{{ furl '/aui/5.6.11/css/aui-experimental.css' }}" media="all">
  <!--[if IE 9]><link rel="stylesheet" href="{{ furl 'aui/5.6.11/css/aui-ie9.css' }}" media="all"><![endif]-->
  <link rel="stylesheet" href="{{furl '/css/addon.css'}}" type="text/css" />
  <script src="{{ furl '/js/lib/jquery/jquery.min.js'}}"></script>
  <script src="{{ furl '/aui/5.6.11/js/aui-soy.js' }}" type="text/javascript"></script>
  <script src="{{ furl '/aui/5.6.11/js/aui.js' }}" type="text/javascript"></script>
  <script src="{{ furl '/aui/5.6.11/js/aui-datepicker.js' }}"></script>
  <script src="{{ furl '/aui/5.6.11/js/aui-experimental.js' }}"></script>
  <script src="{{hostScriptUrl}}" type="text/javascript"></script>
</head>
<body class="aui-page-hybrid">
  <section id="content" role="main">
    {{{body}}}
  </section>
  <script src="{{furl '/js/lib/backbone/underscore.js'}}"></script>
  <script src="{{furl '/js/lib/backbone/backbone.js'}}"></script>
  <script src="{{furl '/js/lib/purl/purl.js'}}"></script>
  <script src="{{furl '/js/lib/whenitype/jquery.whenitype.js'}}"></script>
  <script src="{{furl '/js/addon.js'}}"></script>
</body>
</html>
