{{!< layout}}
<div class="aui-page-panel main-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-item">
            <div class="aui-group">
                <div class="aui-item">
                    <form id="board-select-form" class="aui">
                        <div class="field-group">
                            <label for="board-id-select">What board do you want to rank?</label>
                            <select id="board-id-select">
                            </select>
                        </div>
                        <div class="field-group">
                            <button type="submit" class="aui-button aui-button-primary">Retrieve Backlog</button>
                            <span class="aui-icon button-spinner"></span>
                        </div>
                    </form>

                    <div class="arena hidden">
                        <div id="aui-message-bar">
                            <div class="aui-message aui-message-info">
                                <p class="title">
                                    <strong>Which is more important?</strong>
                                </p>

                                <p>Pick a winner by clicking or with the left / right keys.</p>
                            </div>
                        </div>
                        <p id="issue-pair"></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header">
            <h1>New Issue Ranking</h1>
        </div>
    </div>
</header>

<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-item">
            <div class="aui-group">
                <div class="aui-group">
                    <div class="aui-item">
                        <div class="aui-item" id="issue-table"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>