/* add-on styles */
.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}

.arrow {
    padding: 1em;
}

.main-panel .aui-page-panel-item {
    padding-bottom: 80px;
    padding-top: 80px;
}

#issue-pair {
    display: table;
    table-layout: fixed;
    margin: 3rem auto;
    text-align: center;
    width:100%;
}

#left-issue, #right-issue, #or {
    display: table-cell;
    border-radius: 0.5rem;
    vertical-align: top;
}

#left-issue, #right-issue {
    font-size: 2rem;
    font-weight: lighter;
    padding: 1rem;
    border: 1px solid hsl(0, 0%, 86%);
    word-wrap: break-word;

    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
}

#left-issue:hover, #right-issue:hover {
    background: rgb(85,226,9); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(85,226,9,1) 0%, rgba(219,219,219,1) 65%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,226,9,1)), color-stop(65%,rgba(219,219,219,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(85,226,9,1) 0%,rgba(219,219,219,1) 65%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(85,226,9,1) 0%,rgba(219,219,219,1) 65%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(85,226,9,1) 0%,rgba(219,219,219,1) 65%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(85,226,9,1) 0%,rgba(219,219,219,1) 65%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55e209', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#vs {
    color: hsl(0, 100%, 50%);
    font-family: 'Mothproof Script', serif;
    font-size: 6rem;
}

@font-face {
    font-family: 'Mothproof Script';
    src: url('/font/mothproof/Mothproof_Script.ttf') format('truetype');
}

@font-face {
    font-family: 'Aquiline Two';
    src: url('/font/aquiline-two/AquilineTwo.ttf') format('truetype');
}

#board-select-form {
    margin-bottom: 3rem;
}

.tick {
    margin-left: 1em;
    color: hsl(98, 92%, 46%);
}

.cross {
    color: hsl(0, 100%, 50%);
    margin-left: 1em;
}
